@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 14px;
}

split-view {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

split-resizer {
    width: 2px;
    height: 100%;

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; */

    flex-grow: 0;
    flex-shrink: 0;

    user-select: none;
    background-color: #1a1a1a;

    overflow: visible;
}

.split-resizer-hover {
    width: 8px;
    height: 100%;

    position: relative;
    left: -3px;
    top: 0;

    cursor: e-resize;

    z-index: 3;
    background-color: transparent;
}

.split-resizer-line {
    width: 2px;
    height: 100%;

    position: absolute;
    left: 3px;
    top: 0;

    z-index: 1;
    background-color: #2a2a2a;
    transition: width  0.15s ease-out, left 0.15s ease-out;
}

.split-resizer-hover:hover > .split-resizer-line, .split-resizer-hover:active > .split-resizer-line {
    width: 8px;
    left: 0;
}

split-container {
    height: 100%;
    min-width: 200px;

    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    background-color: #1a1a1a;
}

.split-chat-container {
    width: 100%;
    height: 100%;

    position: relative;
}

.split-container-overlay {
    pointer-events: none;
    width: 100%;
    height: 100%;

    position: absolute;

    left: 0;
    top: 0;

    box-sizing: border-box;

    padding-left: 0;
    padding-right: 0;

    transition: none;

    z-index: 1;
    opacity: 0.5;

    display: none;
}

.split-container-overlay.animated {
    transition: padding-left 0.15s ease-out, padding-right 0.15s ease-out;
}

.split-container-overlay.droppable {
    display: block;
}

.split-container-overlay.opacity-animated > .split-container-overlay-content {
    transition: opacity 0.15s ease-out;
}

.split-container-overlay-content {
    pointer-events: none;

    width: 100%;
    height: 100%;

    background-color: #303030;
    opacity: 0;
    z-index: 1;

    transition: none;
}

.split-container-overlay.droppable > .split-container-overlay-content {
    opacity: 1;
}

.split-container-overlay.left {
    padding-right: 50%;
}

.split-container-overlay.right {
    padding-left: 50%;
}

split-chat-bar {
    width: 100%;
    height: 30px;

    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #000000;
}

.split-chat-bar-empty {
    height: 100%;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;

    background-color: transparent;
}

split-chat-bar.droppable > .split-chat-bar-empty {
    background-color: #303030;
}

split-chat-bar.opacity-animated > .split-chat-bar-empty {
    transition: background-color 0.15s ease-out;
}

.split-chat-bar-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;

    filter: invert(25%);
}

split-chat-tab {
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0 20px 0 20px;

    user-select: none;
    cursor: pointer;
    background-color: #101010;
    color: #505050;

    white-space: nowrap;
}

split-chat-tab.active {
    background-color: #1a1a1a;
}

split-chat {
    width: 100%;
    height: 100%;

    display: block;
    box-sizing: border-box;

    position: absolute;

    left: 0;
    top: 0;

    padding: 0;
    color: white;

    z-index: 0;

    overflow-y: overlay;
    overflow-x: hidden;
}

.chat-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 20px;
    box-sizing: border-box;
}

split-chat.inactive {
    pointer-events: none;
}

chat-message-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;

    column-gap: .5em;

    max-width: 100%;
}

.chat-message-timestamp {
    color: #303030;
    vertical-align: middle;
    line-height: 1.75em;
    /* margin-right: .4em; */
}

.chat-text-container {
    min-width: 0;
}

.chat-message-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    vertical-align: middle;
    line-height: 1.75em;
}

.chat-message-content.raw {
    color: #505050;
}

new-tab-dialog {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;

    box-sizing: border-box;

    padding: 20px;

    background-color: #1a1a1a;
    color: #707070;
}

new-tab-dialog.inactive {
    pointer-events: none;
}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    row-gap: 10px;

    box-sizing: border-box;

    width: 100%;
}

input[type='text'] {
    border: none;
    border-radius: 4px;
    color: #707070;
    background-color: #202020;
}

input[type='text']:focus {
    outline: none;
}

.textfield-input {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 600;
    height: 1.5em;
    padding: 4px 8px 4px 8px;
    width: calc(100% - 8px);
}

.checkgroup-option-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.checkgroup-option {
    background-color: #161616;
    color: #2a2a2a;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    height: 1.5em;
    user-select: none;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.checkgroup-option.checked {
    background-color: #202020;
    color: #505050;
}

split-chat::-webkit-scrollbar {
    display: none;
    position: absolute;
    right: 0;
}

split-chat:hover::-webkit-scrollbar {
    display: unset;
}

::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-track {
    background: #101010;
}
  
::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 8px;
    border: 4px rgba(0, 0, 0, 0) solid;
    background-clip: padding-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #505050;
    border-radius: 8px;
    border: 4px rgba(0, 0, 0, 0) solid;
    background-clip: padding-box;
}
